*.ipynb_checkpoints

Notebook/ipynb_checkpoints

*.ipynb_checkpoints/
*checkpoint.ipynb

# Data
data/katalog_gemeinde.csv
data/katalog_stoff.csv
data/opendata_messstelle.csv
data/opendata_messwert.csv

# credential file

Notebook/credential.py 

# QGIS
qgis/Nitrat_concentration_last version.qgz
